<h1 id="headh1">About</h1>
<h2 id="headh1">Home</h2>
<p id="textCol" align="center">
Donec in ante nec leo tristique accumsan. Pellentesque ac malesuada turpis. Morbi pretium dui quam, vitae tempor est vehicula id. Ut ut magna mi. Aenean rutrum ex in tortor sagittis consequat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam gravida, purus non gravida viverra, neque mauris interdum nunc, a viverra lacus odio consequat ante. Ut venenatis quis lectus eget dictum. Nullam aliquet posuere mi, nec fringilla ligula hendrerit in. Morbi felis ex, cursus at lorem eu, egestas mattis mauris. Curabitur at elementum mi. Maecenas tellus odio, tempor id dui eu, faucibus tempor erat. Aenean ullamcorper tortor orci, sed pellentesque quam vulputate vitae. Proin accumsan tincidunt vestibulum.
</p>
<p align="center"><%= link_to 'Home', root_path %></p>
<h2 id="headh1">Share</h2>
<p id="textCol" align="center">
Aliquam consectetur scelerisque lorem non dapibus. Vestibulum a congue lectus, quis sodales nibh. Ut at enim non felis sodales convallis ut sed orci. Sed bibendum bibendum odio, non hendrerit metus rutrum a. Nunc vitae vestibulum est. Donec egestas magna in mollis luctus. Duis egestas, risus in interdum ornare, diam est convallis sapien, ac mattis risus ante in odio. Duis eleifend felis id facilisis tempus. Integer odio augue, porta sed accumsan vitae, tempor quis augue. Nam eu ipsum commodo, consectetur tortor sed, finibus ipsum.
</p>
<p align="center"><%= link_to 'Share', share_path %></p>
