<h1>Home</h1>
<h2>Articles listing</h2>
<p>
Click on the link below to go to the full list of articles. On this page it's easy to create, edit, show and delete articles.
</p>
<%= link_to 'Articles', articles_path %>
<h2>About</h2>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi rutrum, ante non consequat tempor, velit nisi tincidunt purus, eget venenatis libero libero viverra est. Sed in eros non neque scelerisque venenatis eget nec dolor. Integer maximus tincidunt venenatis. Maecenas elementum laoreet purus in euismod. In hac habitasse platea dictumst. Nam sapien nisl, mattis et mauris quis, feugiat malesuada lorem. Donec quis rutrum felis. Proin sed pretium nibh, id ultricies lorem. Fusce eleifend libero at nibh consequat, eu gravida magna egestas. In pretium risus sed tellus vestibulum luctus. Etiam elit leo, bibendum at dignissim venenatis, consectetur a lectus. Nulla finibus elementum arcu at porttitor. Donec commodo mauris at consectetur ullamcorper. Donec rhoncus quam sit amet ipsum malesuada facilisis. Suspendisse ut euismod ante, et sagittis nibh. Donec finibus vitae felis vel lacinia.
</p>
<%= link_to 'About', about_path %>
<h2>Share</h2>
<p>
Donec mattis tempor neque at faucibus. In vitae arcu rhoncus lorem condimentum ornare pellentesque at eros. Nulla ut pellentesque lacus, id suscipit lectus. Pellentesque tristique turpis ex. Donec nibh elit, tristique nec vestibulum at, vehicula sit amet augue. Duis a congue ante. Pellentesque in sollicitudin ipsum. Aliquam accumsan, leo et tincidunt tempus, urna eros porta sapien, a gravida purus diam vel sem. Pellentesque sed nulla orci. Suspendisse sodales ligula non ante gravida, vel facilisis augue scelerisque. Sed aliquet nisi nec neque fermentum finibus. In hac habitasse platea dictumst. Integer pretium vitae tortor sit amet mollis.
</p>
<%= link_to 'Share', share_path %>
