@import "bootstrap";

.navbar {
  background-color: #4286f4;
}

.nav-link, .navbar-brand {
  color: #ffffff;
}

.navbar-nav .nav-item {
  margin-left: 5em;
}

#logo {
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: left;
}

.container {
  margin-top: 1em;
  margin-bottom: 1em;
}

.jumbotron {
  background-image: asset-url('image-2');
  background-size: cover;
  height: 600px;
}

.jumbotron h1 {
  color: #ffffff;
  font-size: 4em;
  text-shadow: -1px 0 #4286f4, 0 1px #4286f4, 1px 0 #4286f4, 0 -1px #4286f4;
  margin-top: 6em;
  text-align: left;
  font-weight: bold;
}

.btn-xlarge {
  font-size: 1.7em;
}

.footer {
  margin-top: 14em;
  padding-top: 0.7em;
  border-top: 0.2em solid #4286f4;
  color: #777;
}

.footer a:hover {
  color: #222;
}

.footer small {
  float:left;
}

.footer ul {
  float:right;
  list-style: none;
}

.footer ul li {
  font-size: small;
}

#search {
  color: #fff;
  border-color: #116af9;
  background-color: #116af9;
  float: left;
}

#search:hover {
  background-color: #5e95ed;
}

.h1 {
  text-align: center;
}

.btn-lg {
  margin-right: 0.9em;
}

.card {
  width: 97.5%;
  margin-left: 0.9em;
}

#headh1 {
  text-align: center;
}
